* {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: center;
}

.header {
   text-align: center;
   font-size: 18px;
   padding: 4;
}

h2 {
  text-align: center;
}

.options {
   overflow: hidden;
   background-color: transparent;
}

.options a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.options a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  /* background-color: #37E623; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.row a {
  /* background-color: #7412E3; */
  padding: 20px;
  width: 15%;
  padding-left: 20px;
  padding-right: 20px;
}

/*.row a:hover {*/
  /*make image a lil bigger*/
/**/

img {
  width: 250px;
  height: 250px;
}

.numberCircle {
  float: right;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 8px;
  background: rgb(248, 0, 0);
  border: 1px solid rgb(248, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font: 14px Arial, sans-serif;
}

.cart {
  /* position: absolute; */
  text-decoration: none;
  text-decoration-color: rgb(0, 0, 0);
  top: 2%;
  right: 1%;
  text-align: right;
  padding-right: 3%;
  color: black;
}

.label {
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid black;
}

tr, td {
  padding: 20px;
  border-bottom: 1px solid black;
}

