* {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: center;
}

.header {
   text-align: center;
   font-size: 18px;
   padding: 4;
}

hr {

}

.options {
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: solid black;
   text-decoration-color: white;
}