. {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: center;
}

.header {
   text-align: center;
   font-size: 18px;
   padding: 4;
}

hr {
   border: 4px purple;
}

.options {

}