html {
  background: url(piano.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: center;
   text-decoration-color: white;
}

.header {
   text-align: center;
   font-size: 18px;
   padding: 4;
}

.options {
   overflow: hidden;
   background-color: #333;
}

.options a {
  float: left;
  color: clear;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.options a:hover {
  background-color: #ddd;
  color: black;
}